*{margin:0%;
padding: 0%;
box-sizing: border-box;}

nav{display:flex;
justify-content: space-between;}

.container{
    height:100vh;
}

.header{height:20em;
width: 100%;

}

ul.nav{display:flex;
list-style: none;
gap:10%}

main{display:flex;
    flex-direction: column;
    
}

section{display:flex;
justify-content: center;}

.img_section{height: 20rem;
             width: 20rem;}

